.btn-new-card {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 13px;
    padding: 0;
    font-weight: bold;
    background-color: #5F6F89 !important;
    border: none;
}

.btn-new-card:hover {
    background-color: #FFB900 !important;
}

.fixed-bottom-btn {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1030;
}


