.cont {
    position: relative;
    top: 10vh;
}

.card-button {
    position: absolute;
    right: 0;
    top: 0;
}

.card a:hover {
    color: #FFB900 !important;
}

.card-button>button {
    padding: 5px 5px !important;
}


.card-body {
    padding: 1.5rem 0.2rem !important;
}

.social-media {
    display: flex !important;
    justify-content: space-around !important;
}


.social {
    color:  #18778c !important;
    font-weight: 600;
}

.social:hover{
    color: #FFB900 !important;
}

.card-subtitle {
    margin-top: 0;
    text-align: center;
}

.navbar-foot {
    flex-basis: auto !important;
}

.navbar-input {
    width: auto !important;
}

.form-logo-clearButton {
    position: absolute;
    right: -12%;
    padding: 0;
    background-color: transparent;
    color: rgb(197, 10, 10);
    font-size: larger;
    font-weight: bold;
    border: none;
    top: -15%;
}

@media (max-width: 575px) {
    .navbar-mobile {
        width: 100vw;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        min-width: 353px;
    }
    
    .filter-mobile {
        width: 30%;
        font-size: smaller;
    }

    .search-mobile {
        width: 20% !important;
        font-size: smaller;
    }

    .button-search {
        margin: 0px 0.5rem;
        border-radius: 50%;
        padding: 10px 5px;
        font-size: smaller;
        width: 40px;
        height: 40px;
    }

    .button-filter {
        font-size: smaller;
        border-radius: 50%;
        padding: 5px;
        width: 40px;
        height: 40px;
    }
}

.form-inline {
    justify-content: space-around !important;
}