.cont {
    position: relative;
    top: 10vh;
}

.card-button {
    position: absolute;
    right: 0;
    top: 0;
}

.card-button>button {
    padding: 5px 5px !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #0069d9;
    color: #fff;
}

.card-body {
    padding: 1.5rem 0.2rem !important;
}

.social-media {
    display: flex !important;
    justify-content: space-around !important;
}

.cardGap {
    column-gap: 10px;
    row-gap: 10px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important; 
}

.social {
    color:  #18778c !important;
    font-weight: 600;
}

.social:hover{
    color: #ca22bb !important;
}

.card-subtitle {
    margin-top: 0;
    text-align: center;
}

.navbar-foot {
    flex-basis: auto !important;
}

.navbar-input {
    width: auto !important;
}

.form-logo-clearButton {
    position: absolute;
    right: -12%;
    padding: 0;
    background-color: transparent;
    color: rgb(197, 10, 10);
    font-size: larger;
    font-weight: bold;
    border: none;
    top: -15%;
}